.description {
    width: 60%;
}

/* OWNER PLACE NAME */

.owner-place-name {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 32px;
}

.owner-place-name__ratings {
    display: flex;
    list-style-type: none;
    align-items: center;
    gap: 5px;
    padding-top: 4px;
    padding-bottom: 8px;
}

.owner-place-name__ratings li:first-child {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 5px;
}

.owner-place-name__ratings li img {
    width: 16px;
    height: 16px;
}

.owner-place-name__ratings li a {
    color: black;
}

/* OWNER PROFILE */

.owner-profile {
    display: flex;
    gap: 24px;
    padding: 24px 0;
}

.profile-image {
    position: relative;
}

.profile-image img:last-child {
    position: absolute;
    right: 0;
    bottom: 0;
}

.profile-text {
    gap: 4px;
}

.profile-text__details {
    display: flex;
    align-items: center;
    list-style-type: none;
    gap: 3px;
}

.profile-text span {
    line-height: 20px;
}

.profile-text__details li {
    color: #6a6a6a;
}

/* UPSIDES */

.upsides {
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding: 32px 0;
}

.upside-topic {
    display: flex;
    gap: 32px;
}

.upside-icon {
    width: 24px;
    height: 24px;
}

.upside-text {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.upside-description {
    color: #6a6a6a;
}

/* DETAILS */

.details {
    display: flex;
    flex-direction: column;
    gap: 34px;
    padding: 32px 0;
}

.translated {
    display: flex;
    gap: 4px;
    width: 100%;
    padding: 16px;
    background-color: #f7f7f7;
    border-radius: 8px;
}

.details-text {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.details-text p {
    line-height: 24px;
}

/* SLEEPING INFO */

.sleeping-info {
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding: 48px 0;
}

.container-cards-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 16px;
}

.sleep-place-card {
    border: 1px solid #dddddd;
    border-radius: 12px;
    padding: 25px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.sleep-place-card img {
    width: 24px;
    height: 24px;
}

.sleep-text {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

/* COMODITIES */

.comodities {
    display: flex;
    flex-direction: column;
    padding: 48px 0;
    gap: 40px;
}

.comodities-text {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.container-comodities-grid {
    display: grid;
    grid-template-columns: 260px 260px;
    grid-template-rows: auto auto auto auto auto;
    row-gap: 16px;
    column-gap: 80px;
}

.comoditie-info {
    display: flex;
    gap: 16px;
    align-items: center;
}

.comoditie-info img {
    height: 24px;
    width: 24px;
}

.comoditie-info span {
    text-decoration: line-through;
}

/* DATE */

.date {
    display: flex;
    flex-direction: column;
    padding: 48px 0;
    gap: 22px;
}

.date-text {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.date-details {
    color: #6a6a6a;
}

.container-calendars {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 30px;
}

.calendar {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

table {
    gap: 10px;
}

.month td {
    width: 40px;
    height: 40px;    
    text-align: center;
    border-radius: 50%;
}

.month thead tr td {
    color: #6a6a6a;
    font-size: 12px;
}

.month tbody tr td {
    font-size: 14px;
    border: 1px solid white;
}

.month tbody tr td:hover {
    border: 1px solid #6a6a6a;
}

.day-selected {
    background-color: #222222;
    color: white;
}

.white-space:hover {
    border-color: white !important;
}

.date-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.keyboard-icon {
    border-radius: 50%;
    padding: 5px 7px;
}

.keyboard-icon img {
    height: 24px;
    width: 24px;
}

.keyboard-icon:hover {
    background-color: #dddddd;
}

.date-footer a {
    padding: 5px;
    border-radius: 8px;
}

.date-footer a:hover {
    background-color: #dddddd;
    color: black;
}
