* {
    margin: 0;
    padding: 0;
    color: #222222;
}


.divisor-bottom {
    border-bottom: 1px solid #dddddd;
    width: 100%;
}

.divisor-top {
    border-top: 1px solid #dddddd;
    width: 100%;
}

button {
    cursor: pointer;
}

.btn-show-all {
    background-color: white;
    border: 1px solid #222222;
    padding: 13px 23px;
    font-size: 16px;
    border-radius: 8px;
}

.btn-show-all:hover {
    background-color: #f7f7f7;
}

.list-details-format {
    display: flex;
    list-style-type: none;
    justify-content: flex-start;
    align-items: center;
    gap: 5px;
}

.text-sm {
    font-size: 14px
}

.text-normal {
    font-size: 16px;
}

.text-lg {
    font-size: 22px;
}

.text-title {
    font-size: 26px;
}