header {
    border-bottom: 1px solid #dddddd;
}

.container-header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 75%;
    max-width: 1280px;
    margin: 19px auto;
}

.logo {
    width: 18%;
}

.container-search {
    width: 47%;
}

.search {
    width: 90%;
    max-width: 470px;
    margin: 0 auto;
    padding: 5px;
    
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    
    border: 1px solid #dddddd;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.08), 0 4px 12px rgba(0, 0, 0, 0.05);
    border-radius: 20px;
}

.search1 {
    width: 33%;
}

.search2 {
    width: 34%;
    border-right: 1.5px solid #dddddd;
    border-left: 1.5px solid #dddddd;
}

.search3 {
    width: 33%;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: flex-end;
    gap: 10px;
}

.search button {
    background-color: transparent;
    border: none;
}

.search button span {
    padding: 0 8px;
    font-size: 14px;
    line-height: 22px;
}

.search3 button span {
    color: #6a6a6a;
}

.btn-search {
    background-color: #ff385c !important;
    border-radius: 50%;
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-search img {
    height: 12px;
    width: 12px;
}

.container-nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 35%;
}

.nav ul {
    display: flex;
    list-style: none;
    align-items: center;
    gap: 15px;
}

.btn-announce {
    padding: 12px;
    border: none;
    background-color: white;
    border-radius: 25px;
}

.btn-announce span {
    font-size: 14px;
    line-height: 22px;
}

.btn-announce:hover {
    background-color: #ededed;
}

.profile {
    display: flex;
    align-items: center;
    gap: 10px;
    
    padding: 7px 8px;
    padding-left: 10px;
    
    background-color: white;
    border: 1px solid #dddddd;
    border-radius: 20px;
}

.profile img:first-child {
    height: 16px;
    width: 16px;
}

.profile img:last-child {
    height: 30px;
    width: 30px;
}