.ratings {
    gap: 38px;
    padding: 45px 0;
}

.ratings-title {
    display: flex;
    align-items: center;
    gap: 5px;
}

.ratings-title img {
    height: 20px;
    width: 20px;
}

.ratings-grid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: 6rem;
}

.rate-metric {
    padding: 0 24px;
    justify-content: space-between; 
    align-items: start;  
}

.rate-metric:not(:last-child) {
    border-right: 1px solid #dddddd;
}

.poll-grid {
    display: grid;
    grid-template-columns: 1fr 10fr;
    grid-template-rows: repeat(5, 16px);
    column-gap: 8px;
    align-items: center;
    padding-top: 8px;
}

.poll-grid span {
    font-size: 12px;
}

.progress-bar {
    background-color: #dddddd;
    border-radius: 2px;
    height: 4px;
}

.progress {
    background-color: #222222;
    height: 100%;
    border-radius: 2px;
    width: 0%;
}
