@media screen and (max-width: 950px) {


    /* MAIN */

            /* COMMENTS */

            .comments-grid {
                grid-template-columns: 1fr;
            }

            /* LOCATION MAP */

            /* CONTAINER HOST */

            .container-host__content {
                flex-direction: column;
            }

            /* SHOULD KNOW */

    /* FOOTER */

    .footer-anchors-grid {
        display: grid;
        grid-template-rows: repeat(3, 1fr);
        grid-template-columns: 1fr;
        gap: 1rem;
    }

    .airbnb-copyright {
        display: flex;
        flex-direction: column-reverse;
        gap: 0.5rem;
        align-items: center;
    }

    .airbnb-copyright__list {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        align-items: center;
        margin-top: 1rem;
    }
}